body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

header {
    background-color: gray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.sidebar {
    background-color: rgb(0, 136, 255);
    display: grid;
    gap: clamp(10px,20px,40px);
    color: white;
}